.chooseList .cardCustom {
  cursor: pointer;
  transition: all .5 linear;
  background:rgb(255, 255, 255) !important;
}
.chooseList .cardCustom:hover {
 
  color: red !important;
  font-weight: bold;
}
.card .imgCustom {
  top: 26%;
  left: 23%;
  width: 198px;
}
.modelCard .card-body {
  background-color: rgba(250, 191, 39, 0.6);
  color: #f2eff2;
}
.fontTest{
  font-weight: bolder;
}
.card-title{
  font-weight: bold;
  color: tomato;
  font-size: 25px;
}
.fixImg{
  padding-right: 13px;
}
